body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header_nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.header_nav a:hover {
    text-decoration: underline;
}

.main {
    padding: 20px;
}

.whatsapp-button {
    display: inline-block;
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.whatsapp-button:hover {
    background-color: #1DA851;
}
.Passeio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    background-color: #fff;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card p {
    padding: 16px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.card h3 {
    padding: 16px;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}