<div class="footer">
  <footer
    class="text-center text-lg-start bg-body-tertiary text-muted position: fixed"
  >
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <div class="me-5 d-none d-lg-block">
        <span>Conecte-se conosco nas redes sociais:</span>
      </div>
      <div>
        <a
          href="https://www.instagram.com/turismoej?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          class="me-4 text-reset"
        >
          <i class="fab fa-instagram"></i>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=45999492697&text=Olá,%20gostaria%20de%20mais%20informações."
          class="me-4 text-reset"
        >
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
    </section>

    <section class="">
      <div class="">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>E&J Tour
            </h6>
            <p>
              Há mais de 10 anos, a E&J Tour transforma passeios em experiências
              inesquecíveis em Foz do Iguaçu. Nosso compromisso é garantir
              conforto, segurança e a melhor experiência para cada visitante.
              Com guias experientes e roteiros personalizados, levamos você aos
              principais pontos turísticos, como as Cataratas do Iguaçu, a Usina
              de Itaipu e a Tríplice Fronteira. Viaje com a gente e descubra Foz
              do Iguaçu de um jeito único!
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contatos</h6>
            <p>
              <i class="fas fa-home me-3"></i> Rua Helena Sielski, 291. Novo
              Horizonte, Foz do Iguaçu/PR - Brasil
            </p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              <a href="mailto:eejturismo&#64;gmail.com"
                >eejturismo&#64;gmail.com</a
              >
            </p>
            <p><i class="fas fa-phone me-3"></i> (45) 99949-2697 Eder</p>
            <p><i class="fas fa-phone me-3"></i> (45) 99912-8636 Jamile</p>
          </div>
        </div>
      </div>
    </section>
    <div
      class="text-center p-4"
      style="background-color: #2f4538; color: white"
    >
      © 2025 Copyright:
      <a class="text-reset fw-bold" href=""
        >E&J Tour CNPJ: 27.033.640/0001-54 CADASTRUR: 27.033.640/0001-54</a
      >
    </div>
  </footer>
</div>
