<div class="container">
    <h1>Passeios mais desejados</h1>
    <div class="transport-section">
        <div class="transport-item">
            <img src="assets/img/cataratas.jpg" alt="cataratas">
            <h3>Cataratas do Iguaçu</h3>
            <p>Explore as impressionantes quedas d'água das Cataratas do Iguaçu pelo lado brasileiro, com vistas panorâmicas e trilhas que proporcionam uma experiência inesquecível</p>
        </div>

        <div class="transport-item">
            <img src="assets/img/bird_park.jpg" alt="parque">
            <h3>Parque das Aves</h3>
            <p>Visite um santuário de conservação com mais de 1.300 aves de 150 espécies diferentes, caminhando por trilhas que passam por viveiros gigantes e interagindo com aves tropicais em seu habitat natural</p>
        </div>

        <div class="transport-item">
            <img src="assets/img/itaipu.jpg" alt="itaipu">
            <h3>itaipu Panorâmica</h3>
            <p>Conheça a grandiosidade da Usina de Itaipu em um tour que oferece vistas abrangentes da barragem, do vertedouro e do lago de Itaipu a partir de pontos de observação estratégicos.</p>
        </div>
    </div>
</div>

<div class="contariner">
    <h1>Pacotes Disponíveis</h1>
    <div class="transport-section">
        <div class="transport-item">
            <img src="assets/img/Cataratas_amanhecer1.jpeg" alt="">
            <h3>Aventura nas Cataratas</h3>
            <p>Explore as Cataratas do Iguaçu de forma emocionante, combinando trilhas, passeios de barco e um voo panorâmico sobre as quedas d’água</p>
        </div>

        <div class="transport-item">
            <img src="assets/img/mesquita.jpg" alt="">
            <h3>Historia e Cultura</h3>
            <p>Descubra a riqueza cultural e religiosa de Foz do Iguaçu visitando templos e monumentos históricos</p>
        </div>
        <div class="transport-item">
            <img src="assets/img/compraspy.jpg" alt="">
            <h3>Compras paraguay</h3>
            <p>Viva uma jornada de compras feita à sua medida em Ciudad del Este com o tour, neste passeio, um profissional experiente estará ao seu lado, orientando e ajudando durante todo o processo, para que aproveite ao máximo e com tranquilidade cada momento das suas compras. </p>
        </div>
    </div>
</div>

<div class="container">
    <h1>Transportes Disponíveis</h1>

    <div class="transport-section">
        <!-- Van -->
        <div class="transport-item">
            <img src="assets/img/Vans.jpg" alt="Van">
            <h3>Van</h3>
            <p>Para grupos pequenos, nossa van oferece conforto e praticidade, com capacidade para até 15 pessoas. Ideal para passeios exclusivos e serviços personalizados.</p>
        </div>

        <!-- Carro Executivo -->
        <div class="transport-item">
            <img src="assets/img/carros.png" alt="Carro Executivo">
            <h3>Carro Executivo</h3>
            <p>Para um transporte mais privado e luxuoso, oferecemos carros executivos com todo o conforto, perfeitos para viagens de negócios ou passeios especiais.</p>
        </div>

        <!-- Ônibus -->
        <div class="transport-item">
            <img src="assets/img/onibus.png" alt="Ônibus">
            <h3>Ônibus</h3>
            <p>Para grandes grupos, nosso ônibus é a escolha perfeita. Com capacidade para até 40 pessoas, oferece conforto, segurança e espaço para todos desfrutarem da viagem.</p>
        </div>
    </div>
</div>