<div class="container">
    <h1>{{ 'HOME.TOP_TOURS_TITLE' | translate }}</h1>
    <div class="transport-section">
        <div class="transport-item">
            <img src="assets/img/cataratas.webp" alt="cataratas">
            <h3>{{ 'TOURS.CATARATAS_BR.TITLE' | translate }}</h3>
            <p>{{ 'TOURS.CATARATAS_BR.DESC' | translate }}</p>
        </div>

        <div class="transport-item">
            <img src="assets/img/bird_park.webp" alt="parque">
            <h3>{{ 'TOURS.PARQUE_AVES.TITLE' | translate }}</h3>
            <p>{{ 'TOURS.PARQUE_AVES.DESC' | translate }}</p>
        </div>

        <div class="transport-item">
            <img src="assets/img/itaipu.webp" alt="itaipu">
            <h3>{{ 'TOURS.ITAIPU_PANORAMICA.TITLE' | translate }}</h3>
            <p>{{ 'TOURS.ITAIPU_PANORAMICA.DESC' | translate }}</p>
        </div>
    </div>
</div>

<div class="container">
    <h1>{{ 'HOME.PACKAGES_TITLE' | translate }}</h1>
    <div class="transport-section">
        <div class="transport-item">
            <img src="assets/img/Cataratas_amanhecer1.webp" alt="">
            <h3>{{ 'PACKAGES.AVENTURA_CATARATAS.TITLE' | translate }}</h3>
            <p>{{ 'PACKAGES.AVENTURA_CATARATAS.DESC' | translate }}</p>
        </div>

        <div class="transport-item">
            <img src="assets/img/mesquita.webp" alt="">
            <h3>{{ 'HOME.HISTORIA_TITLE' | translate }}</h3>
            <p>{{ 'HOME.HISTORIA_DESC' | translate }}</p>
        </div>
        <div class="transport-item">
            <img src="assets/imgCard/compraspy.webp" alt="">
            <h3>{{ 'HOME.COMPRAS_TITLE' | translate }}</h3>
            <p>{{ 'HOME.COMPRAS_DESC' | translate }}</p>
        </div>
    </div>
</div>

<div class="container">
    <h1>{{ 'HOME.TRANSPORT_TITLE' | translate }}</h1>

    <div class="transport-section">
        <!-- Van -->
        <div class="transport-item">
            <img src="assets/img/Vans.webp" alt="Van">
            <h3>{{ 'HOME.VAN_TITLE' | translate }}</h3>
            <p>{{ 'HOME.VAN_DESC' | translate }}</p>
        </div>

        <!-- Carro Executivo -->
        <div class="transport-item">
            <img src="assets/img/carros.webp" alt="Carro Executivo">
            <h3>{{ 'HOME.CAR_TITLE' | translate }}</h3>
            <p>{{ 'HOME.CAR_DESC' | translate }}</p>
        </div>

        <!-- Ônibus -->
        <div class="transport-item">
            <img src="assets/img/onibus.webp" alt="Ônibus">
            <h3>{{ 'HOME.BUS_TITLE' | translate }}</h3>
            <p>{{ 'HOME.BUS_DESC' | translate }}</p>
        </div>
    </div>

    <div #whatsappFloat id="whatsapp-float">
        <img src="https://cdn-icons-png.flaticon.com/512/124/124034.png" alt="WhatsApp" />
    </div>

</div>
